<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper.xml 만들 때 참고용, 아래 namespace 수정해서 쓰세요! -->
<mapper namespace="com.itwillbs.mappers.UserMapper">
	<insert id="insertProject">
		INSERT INTO USER_TB (
				   IDX
	 			 , ID
				 , PASS
				 , NAME
				 ) 
			VALUES ( 
					(SELECT IDX
	        	      FROM (
				 	        SELECT IFNULL(MAX(CAST(IDX AS UNSIGNED)), 0) + 1 AS IDX
				  			  FROM PROJECT_TB
						   ) A)
			     , #{id}
				 , #{pass}
				 , #{name}
				 )
	</insert>
	
	<select id="userCheck" resultType="com.itwillbs.domain.UserDTO">
		SELECT *
		  FROM USER_TB
		 WHERE ID = #{id}
		   AND PASS = #{pass}
	</select>
	
</mapper>