<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.myAlarmMapper">

	<select id="getMyAlarmList" parameterType="map" resultType="hashMap">
		select a.idx as idx
			 , a.pj_idx as pjIdx
		     , a.user_id as userId
		     , a.code as code
		     , c.code_nm as codeNm
		  from alram_tb a
		  join code_tb c
		    on a.code = c.code
		 where a.user_id = #{id}
		
<!--  TODO	후원주문? 결제날짜 중에 어떤거 기준으로 해야하는지?	ORDER BY  -->
	</select>







</mapper>