<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.myFavoriteMapper">

	<select id="getMyFavoriteList" parameterType="map" resultType="hashMap">
		select p.IMG1 as img1
			 , pay.id as id
			 , p.idx as pjIdx
		     , P.CATEGORY as category
		     , p.ID as creId
		     , p.CRE_NM as creNm
		     , p.TITLE as title
             ,  (SELECT IFNULL(SUM(AMOUNT), 0)
				  FROM PAYMENT_TB 
				 WHERE PJ_IDX = p.IDX) AS totalAmt
			 , ROUND(((SELECT IFNULL(SUM(AMOUNT), 0)
						 FROM PAYMENT_TB 
						WHERE PJ_IDX = p.IDX) / TARGET_AMT * 100), 0) AS percent
			 , DATEDIFF(p.END , p.START) AS expiredDate
			   FROM project_tb p 
			   JOIN like_tb l
			     ON p.idx = l.PJ_IDX
			   JOIN payment_tb pay
			     ON p.idx = pay.pj_idx
 			  WHERE l.user_id= #{id}
		
<!--  TODO	후원주문? 결제날짜 중에 어떤거 기준으로 해야하는지?	ORDER BY  -->
	</select>

	<select id="getMyFavoriteCount" resultType="java.lang.Integer">
		select count(*)
		  from like_tb
 		 where user_id = #{id}
	</select>






</mapper>