<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper.xml 만들 때 참고용, 아래 namespace 수정해서 쓰세요! -->
<mapper namespace="com.itwillbs.mappers.PaymentMapper">

  <select id="getUser" resultType="com.itwillbs.domain.UserDTO">
	 SELECT u.ID
     	  , u.NAME
     	  , a.ADDRESS
          , a.ZIP_CODE
     	  , u.PHONE
       FROM USER_TB u JOIN ADDRESS_TB a
       ON u.ID = a.ID
      WHERE u.ID=#{id}
  </select>	
  
   <select id="getProject" resultType="com.itwillbs.domain.ProjectDTO">
     SELECT CRE_NM
          , TITLE
          , INTRO
          , MIN_DONA
          , IMG1
          , END
       FROM PROJECT_TB
      WHERE IDX=#{idx}
  </select>	
  
   <insert id="insertPayment">
  	INSERT INTO PAYMENT_TB
  	 	  VALUE (
  	 	      (SELECT IDX
                    FROM (
                        SELECT IFNULL(MAX(CAST(IDX AS UNSIGNED)), 0) + 1 AS IDX
                         FROM payment_tb
                     ) A)
  	 	      ,#{pjIdx}
  	 	      ,#{id}
  	 	      ,#{amount}
  	 	      ,#{address}
  	 	      ,#{phone}
  	 	      ,#{date}
  	 	      ,#{payDate}
  	 	      ,#{status}
  	 	      ,#{userDona}
  	 	      )
 	</insert>

  
  
</mapper>