<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper.xml 만들 때 참고용, 아래 namespace 수정해서 쓰세요! -->
<mapper namespace="com.itwillbs.mappers.projectListMapper">

	<select id="getProjectList" parameterType="map" resultType="java.util.Map">
		SELECT IDX
			 , CATEGORY
			 , CRE_NM
			 , TITLE
			 , TARGET_AMT
			 , (SELECT IFNULL(SUM(AMOUNT), 0)
                  FROM PAYMENT_TB 
                 WHERE PJ_IDX = p.IDX) AS TOTAL_AMT
             , ROUND(((SELECT IFNULL(SUM(AMOUNT), 0)
				  		 FROM PAYMENT_TB 
                        WHERE PJ_IDX = p.IDX) / TARGET_AMT * 100), 0) AS PERCENT
			 , START
			 , END
			 , IMG1
		 	 , case when (SELECT COUNT(*)
					    	FROM LIKE_TB
					   	   WHERE PJ_IDX = P.IDX
							 AND USER_ID = #{SESSIONID}) = 1 THEN 'heart_fill.svg'
			   											 	 ELSE 'heart.svg'
			   											 	  END AS HEART  
			 , STATUS  											 	  
		  FROM PROJECT_TB P
		 WHERE 1=1
		 <if test='! GB.equals("") and GB != null'>
		 	  <if test='GB.equals("POP")'>
		 	  AND STATUS IN ('PJT01', 'FD00', 'FD01')
		 	  AND CURDATE() >= START
		 	  ORDER BY STATUS DESC, PERCENT DESC
			  </if>
			  <if test='GB.equals("NEW")'>
			  AND STATUS = 'PJT01'
			  AND END > CURDATE()
			  AND CURDATE() >= START
		   	  ORDER BY START DESC
			  </if>
		  	  <if test='GB.equals("DEAD")'>
		  	  AND STATUS = 'PJT01'  
		   	  AND CURDATE() > DATE_SUB(END,INTERVAL 7 day) and END > CURDATE()
			  </if>
			  <if test='GB.equals("EXP")'>
			  AND STATUS = 'PJT01'  
		   	  AND START > CURDATE()
			  </if>
		 </if>
		 <if test='! SEARCH.equals("") and SEARCH != null'>
		 AND STATUS = 'PJT01'
	   	 AND title like CONCAT('%', #{SEARCH}, '%') AND END > CURDATE()
		 </if>
		 <if test='! CATEGORY.equals("") and CATEGORY != null'>
		 AND STATUS = 'PJT01'  
	   	 AND category=#{CATEGORY} and END > CURDATE()
		 </if>
	</select>
	
	<select id="getExpectList" parameterType="map" resultType="java.util.Map">
		SELECT IDX
			 , CATEGORY
			 , CRE_NM
			 , TITLE
			 , START
			 , IMG1
		 	 , CASE WHEN (SELECT COUNT(*)
					      FROM alram_tb
					     WHERE PJ_IDX = P.IDX
						  AND USER_ID = #{SESSIONID}) = 1 THEN 'alram_fill.svg'
			   											  ELSE 'alram.svg'
			   											  END AS ALRAM
			 , CASE WHEN (SELECT COUNT(*)
		       		       FROM alram_tb
					      WHERE PJ_IDX = P.IDX) IS NOT NULL THEN (SELECT COUNT(*)
													        FROM alram_tb
													       WHERE PJ_IDX = P.IDX)
			   										ELSE 0
			   										END AS COUNT 
			 , STATUS  										 											 
		  FROM PROJECT_TB P
		 WHERE 1=1
		 <if test='! GB.equals("") and GB != null'>
			  <if test='GB.equals("EXP")'>
			  AND STATUS = 'PJT01'
		   	  AND START > CURDATE()
			  </if>
		 </if>
	</select>

	<select id="getCount" parameterType="map" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM PROJECT_TB 
		 WHERE 1=1
		 <if test='! GB.equals("") and GB != null'>
		  	  <if test='GB.equals("DEAD")'> 
		  	  AND STATUS = 'PJT01'
		   	  AND CURDATE() > DATE_SUB(END,INTERVAL 7 day) AND END > CURDATE()
			  </if>
			  <if test='GB.equals("EXP")'>
			  AND STATUS = 'PJT01'  
		   	  AND START > CURDATE()
			  </if>
			  <if test='GB.equals("POP")'> 
			  AND STATUS IN ('PJT01', 'FD00', 'FD01') 
		   	  AND CURDATE() >= START
			  </if>
			  <if test='GB.equals("NEW")'>
			  AND STATUS = 'PJT01' 
		   	  AND END > CURDATE()
			  AND CURDATE() >= START
			  </if>
		 </if>
		 <if test='! SEARCH.equals("") and SEARCH != null'>
		 AND STATUS = 'PJT01'  
	   	 AND TITLE LIKE CONCAT('%', #{SEARCH}, '%') AND END > CURDATE()
		 </if>
		 <if test='! CATEGORY.equals("") and CATEGORY != null'>
		 AND STATUS = 'PJT01'  
	   	 AND category=#{CATEGORY} and END > CURDATE()
		 </if>
	</select>
	
</mapper>  