<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.projectInfoMapper">
<!-- 	<select id="getProjectList" resultType="com.itwillbs.domain.ProjectDTO"> -->
<!-- 	SELECT * -->
<!-- 	  FROM PROJECT_TB -->
<!-- 	</select> -->
	<select id="getProjectInfo" resultType="com.itwillbs.domain.ProjectDTO">
	SELECT p.*
          , case when (SELECT COUNT(*) AS HEARTFILL
                        FROM LIKE_TB
                       WHERE PJ_IDX = P.IDX
                      AND USER_ID = #{SESSIONID}) = 1 THEN 'heart_fill.svg'
                                                 ELSE 'heart.svg' END AS HEART
          , COUNT(PAY.ID) AS sumUser
          , SUM(PAY.AMOUNT) AS sumMoney
          FROM PROJECT_TB P
          JOIN PAYMENT_TB PAY
          ON P.IDX = PAY.pj_IDX
        WHERE P.IDX = #{IDX};
	</select>
	
	<!-- 프로젝트에 대한 총 좋아요 수 -->
	<select id="getLike" resultType="HashMap" parameterType="HashMap">
		SELECT COUNT(*)  AS CNT
	      FROM LIKE_TB
	     WHERE PJ_IDX = #{PJ_IDX}
<!-- 	       AND USER_ID = #{USER_ID} -->
	</select>
	
	<insert id="insertLike" parameterType="HashMap">
		INSERT INTO LIKE_TB 
			 ( IDX
			 , PJ_IDX
			 , USER_ID)
		     VALUES (
		     (SELECT NUM
			    FROM (SELECT IFNULL(MAX(IDX), 0) + 1 AS NUM
					    FROM LIKE_TB) A)
			 , #{PJ_IDX}
		     , #{USER_ID}
		     )
	</insert>
	
	<delete id="delLike" parameterType="HashMap">
		DELETE FROM LIKE_TB
	     WHERE PJ_IDX = #{PJ_IDX}
	       AND USER_ID = #{USER_ID}
	</delete>
		<delete id="deleteAlram2">
		<![CDATA[ DELETE A FROM ALRAM_TB AS A
					LEFT JOIN PROJECT_TB AS P
					ON A.pj_IDX = P.IDX
					WHERE START < CURDATE()
					AND A.CODE = 'ALM2']]>
	</delete>
	
	<select id="getAlram2List" resultType="com.itwillbs.domain.ProjectDTO">
		SELECT USER_ID AS ID, TITLE, CODE, START
		  FROM ALRAM_TB A
		  JOIN PROJECT_TB P
		  ON A.PJ_IDX = P.IDX
		 WHERE START = CURDATE()
	</select>
</mapper>