@charset "UTF-8";
html, body {padding:0; margin:0;}
/* 프로젝트 업로드 메인 컨테이너 */
#projectContent {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
/* 상단 */
.proj_top {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100px;
	grid-column:1/6;
	background:pink;
}
/* 상단 - 내용 전체 */
.proj_top > div {
	position:relative;
	height: 50px;
}
/* 상단 - 내용1 */
.top_content1 {
	text-align: center;
	border: 1px solid;
}
/* 상단 - 뒤로가기 버튼 */
.top_back {
	position: absolute;
	top:50%;
	left:30px;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	padding:0;
}
/* 상단 - 저장, 업로드 박스 */ 
.top_save_box {
	position: absolute;
	top:50%;
	right:30px;
	transform: translateY(-50%);
}
/* 상단 - 탭 메뉴 */
.proj_top .nav {
	position: absolute;
	bottom:0;
	left: 25%;
	width:50%;
	margin:0 !important;
}
/* 상단 - 탭 메뉴 css */
.nav-pills {
	background: transparent !importante;
}
.nav-link {
	color: #b8b8b8!important;
}
.nav-link.active {
	color: white !important;
	background: transparent !important;
}
/* 내용 */
.proj_cont {
	position:relative;
	top:100px;
	grid-column-start: 2;
	grid-column-end: 6;
	background: lightyellow;
	padding: 30px;
}
.proj_pro {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.right {
	align-items: center;
	font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(158, 158, 158);
}

/* 내용 - 구역 나누기 */
.article_proj {
	display: grid;
	grid-template-columns: 50% 50%;
}
.article_proj > div {padding:10px; border: 1px solid}

.box {
	width: 100px;
    height: 100px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


