@charset "UTF-8";
.register {
	margin-left: 1300px;
}

.cateUpdate {
	margin-left: 500px;
	margin-top: 200px;
}

.catewriteForm {
	margin-left: 500px;
	margin-top: 200px;
}

.CATEGORY {
	margin-left: 100px;
}

.categoty_btn {
	margin-left: 100px;
}