@charset "UTF-8";
/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
/*     font-weight: 400; */
    font-style: normal;
}
* {font-family: 'Pretendard-Regular';}



/* [ 상품 이미지 및 간략 정보 ] */
#productContent {
	position: relative;
	padding: 0 10%;
}
/* 제목 및 카테고리 */
.prod_title {
	text-align: center;
}
.prod_title h1 {
	font-weight: 900;
}
/* - 카테고리 버튼 */
.prod_title > button {
	margin-top: 60px;
}
/* - 상품제목 */
.prod_title > h1 {
	padding: 10px 0;
}
/* 상품정보 */
.prod_cont {
	display: grid;
	grid-template-columns: 60% 40%;
	position: relative;
}
/* - 캐러셀 */
.prod_cont #carouselExampleIndicators {
	width: 500px;
	min-height: 244px;
	margin: 60px auto;
}

/* 상품정보 간략 */
.project_info {
	margin: 60px 0;
}
/* - 정보 사이드 박스 */
.project_summary > div {
	display: flex;
	justify-content: space-between;
}
.project_summary > div > div {
	font-size: .8em;
}
/* 남은 날짜 */
.deadline {
	color: rgb(255, 87, 87);
}
/* 남은날짜 미니창 */
.deadline_box {
	border-radius: 5px;
	padding: 2px 6px;
	background: rgb(253, 244, 243);
	color: rgb(255, 87, 87);
}
/* - 공유 및 후원 버튼*/
.project_btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:15px 0 25px 30px;
}
.share_btn {
	position: relative;
}
.share_btn > span {
	cursor: pointer;
}
.share_cont {
	display: none;
	position: absolute;
	top:-110px;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	padding-top:20px;
	padding-bottom: 10px;
	background: rgba(255,255,255,.3);
	backdrop-filter: blur(10px);
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,.1),  0 0 5px rgba(0,0,0,.1);
}
.share_x {
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
}
.share_x > svg {
	opacity:.5;
}
.link_icon {
	position: relative;
	display: inline-block;
	width: 30px;
	height:30px;
	margin: 0 5px;
	padding-top: 50px;
}
.link_icon.twitter {
	background: url("../../resources/harVest_img/twitter.png") no-repeat center / contain;
}
.link_icon.facebook {
	background: url('../../resources/harVest_img/facebook.png') no-repeat center / contain;
} 
.link_icon.kakao {
	background: url('../../resources/harVest_img/kakao.png') no-repeat center / contain;
}




/* 하트 */
img#likeBtn {
	width:30px;
	height:30px;
	cursor: pointer;
}

@media all and (max-width:1220px) {
	.prod_cont {
		display: inline;
	}
	.project_info {
		display: flex;
		justify-content: space-around;
		padding: 0 50px;
	}
	.project_info > div > * {
	}
	.project_summary > div {
		display: flex;
		justify-content: space-between;
	}
	.project_summary > div > div {
		font-size: 1em;
	}
}
@media all and (max-width:768px) {
	.project_info > div > h2 {
		font-size: 1.3em;
	}
	.project_summary > div > div {
		font-size: .8em;
	}
}
@media all and (max-width:480px) {
	.project_info > div > h2 {
		font-size: .8em;
	}
	.project_summary > div > div {
		font-size: .6em;
	}
	.project_btn {
		position: fixed;
		bottom: 0;
		left:0;
		width:100%;
		height: auto;
		z-index:9999;
		background: white;
		box-shadow: 0 -3px 3px rgba(0,0,0,.1);
	}
}

/* 상품 상세 페이지 */
#productInfoMore {
	position: relative;
}
#productInfoMore > div {
	position: relative;
}

/* 탭 메뉴 */
ul#myTab {
	position: sticky;
	top:0;
	z-index:999;
	padding-left: 150px;
	border: none !important;
	box-shadow: 0 3px 3px rgba(0,0,0,.1);
	background:white !important;
}
.nav-item {
	border: none !important;
}
.nav-link {
	color: gray !important;
	border: none !important;
}
.nav-link.active {
	color: black !important;
	font-weight: 600 !important;
	border: none !important;
	border-bottom: 5px solid green !important;
}
.tab-content {
	padding: 80px 10%;
}
/* 찜하기 */
span[class^="heart"] {
	color: red;
}
.heart_fill {
	display: none;
}

/* 후원하기 버튼 */
.funding_btn {
	cursor: pointer;
}
/* 후원 옵션 */
.project_info_box {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index:99999;
	background: white;
	transform: translate(-50%, -50%);
	text-align:center;
	padding: 20px 30px;
	width: 300px;
}
.project_info_box > div:first-of-type {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	padding: 10px 0;
	background: powderblue;
}
.info_x {
	position: absolute;
	top: -25px;
	right: -25px;
	color: white;
	cursor: pointer;
}
.info_bg {
	display: none;
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(0,0,0,.4);
	backdrop-filter: blur(20px);
}
.funding_wrap {
	padding-top:30px;
}





/* 부트스트랩 시작 */
.swal2-container.swal2-center.swal2-backdrop-show {
	position: fixed;
	z-index:99999;
	backdrop-filter: blur(20px);
}

/* 커뮤니티 탭 메뉴 */
ul.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
ul.list::after {
	content: '';
	display: block;
	clear: both;
}
.tab_button {
	display: block;
	padding: 10px 20px 10px 20px;
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
.tab_active {
	border-top: 2px solid orange;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid white;
	border-left: 1px solid #ccc;
	color: black;
	margin-top: -2px;
}
.tab_content {
	display: none;
	padding: 10px;
}
.tab_show {
	display: block;
}




